<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1> this is a home page</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis nihil, fuga sunt cum est vel itaque exercitationem necessitatibus nisi corporis provident! Quia, fuga architecto. Ipsum non autem, nisi atque illo distinctio eius et facere fugit nemo corporis eum assumenda illum cum quam impedit tempore consequatur officiis perferendis incidunt molestiae aut?</p>  
  <p>the sum of the value is <%= 4+5+1  %>  </p>
  <h1><%= num %> </h1>
<% if(num%2==0){ %>
    <h1>this is even </h1>  
<% } else { %> 
    <h1>this is odd </h1> 
    <% } %> 
    <h1><%= num%2==0?'even':"odd" %> </h1> 
</body>
</html>