.con{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: black;
    border: 4px solid goldenrod;
}

.box{
    width: 500px;
    height: 100px;
    background-color: greenyellow;
    border: 2px solid white;
}
.box2{
    
}