<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title><%=product.name%></title>
</head>
<body>
    <h1>
        <%= product.name %> 
    </h1>
    <li><%=product.price%></li>
    <li><%=product.category%></li>

    <a href="/products">products</a>
</body>
</html>