<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new comments</h1>
    <form action="/comments" method="post">
        <label for="name">name</label>
        <input type="text" id="name" name="name" placeholder="enter your name">
        <br>
        <label for="age">age</label>
        <input type="text" id="age" name="age" placeholder="enter your age">
        <button>submit</button>
    </form>
    <a href="/comments">back to comments</a>
</body>
</html>